<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082719574823-7a8pvs1i8hfquinsr51beiag93guknv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082719574823-7a8pvs1i8hfquinsr51beiag93guknv6</string>
	<key>API_KEY</key>
	<string>AIzaSyBoUAbfBorqoqDoAZTNcbsFMXIZwvmbTBA</string>
	<key>GCM_SENDER_ID</key>
	<string>1082719574823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.responsivedashboard</string>
	<key>PROJECT_ID</key>
	<string>investor-app-vl821w</string>
	<key>STORAGE_BUCKET</key>
	<string>investor-app-vl821w.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082719574823:ios:752d5e469586833cfd2702</string>
</dict>
</plist>